@import url('https://www.fontspace.com/paladins-font-f32777')

body {
    background: black, url('../assets/images/space-background.png');
    á
}

h1 {
    text-align: center;
    font-family: 'paladins', arial, sans serif;
    color: white;
}

.welcome__container {
    background-color: green;
}

.game__container {
    background-color: orange;
}

.results__container {
    background-color: purple;
}

.hide {
    display: none;
}