body {
    background-color: darkmagenta;
}

h1 {
    text-align: center;
    background-image: url("../images/the-enterprise.jpeg");
}

.welcome__container {
    background-color: green;
}

.game__container {
    background-color: orange;
}

.results__container {
    background-color: purple;
}

.hide {
    display: none;
}